
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--link: cyan;
	--primary: #3cff9c;
	--halfmix: color-mix(in srgb, white, var(--primary) 50%);
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
::-webkit-scrollbar-thumb:hover { background: #444; }

html, body {
	font-size: 24px;
	height: 100%;
}

html {
	font-family: "Share Tech", sans-serif;
	color: color-mix(in srgb, transparent, var(--halfmix) 70%);

	background:
		radial-gradient(circle at center, #001006c7, #000),
		url("/assets/bg2.avif") center center / cover;

	background-size: cover;
	background-position: center center;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: min(10vw, 8em);
}

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

.plate {
	display: flex;
	flex-direction: column;

	gap: 0.67em;
	padding: min(10vw, 4em);
	max-width: 32em;

	background: #4441;
	backdrop-filter: blur(0.3em);
	border-radius: 1em;
	border: 0.2em solid var(--halfmix);
	box-shadow:
		0 0 8em color-mix(in lch, transparent, var(--primary) 50%),
		0 0 1em color-mix(in lch, transparent, var(--primary) 70%),
		inset 0 0 5em color-mix(in lch, transparent, var(--primary) 50%);

	.inner {
		margin: 0 1em;
	}

	h1 {
		font-size: 3em;
		color: var(--halfmix);
		text-shadow:
			0 0 .2em var(--halfmix),
			0 0 1em var(--primary),
			0 0 1em var(--primary);
	}

	blockquote {
		display: flex;
		flex-direction: column;
		gap: 0.3em;

		cite {
			opacity: 0.5;
			margin-left: 1em;
		}
	}

	a {
		text-shadow:
			0 0 .2em color-mix(in srgb, #ffff, currentColor 80%),
			0 0 1em color-mix(in srgb, #fff8, currentColor 80%);
	}

	footer {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		align-items: end;
		word-break: break-all;
	}
}

